<h2>Nous Contacter</h2>
<div class="row" >
        <div class="col-md-8 col-md-offset-2">

        <form #form="ngForm" (submit)="sendMessage(form)" novalidate>
            <div class="form-group" 
            [class.has-error]="msgSubject.invalid && msgSubject.touched">
            <label for="subject" class= "control-label" >Sujet</label>
            <input type="text" 
            #msgSubject="ngModel"
            ngModel
            name="subject"
            class="form-control" 
            id="subject" 
            required
            placeholder="sujet">

            <div *ngIf="msgSubject.invalid && msgSubject.touched" >sujet Manquant </div>
          </div> 
          <div class="form-group"
          [class.has-error]="msgContent.invalid && msgSubject.touched">
            <label for="message"class= "control-label" >Message</label>
            <textarea placeholder="Describe yourself here..."
            #msgContent = "ngModel"
            ngModel
            name="message"
            class="form-control"
            id="message"
            required>
            </textarea>
          </div>
          <div class="form-group">
            <label for="service" >Service</label>
            <select type="text" 
            ngModel
            name="service"
            class="form-control"
            id="service" 
            placeholder="message" required>
            <option value="guide">Guide</option>
            <option value="tech">Technique</option>
            <option value="sales" required>Commercial</option>
            
            </select>
          </div>
          <button class="btn btn-info" type="submit" [disabled]="form.invalid">Envoyer</button>
        </form>
</div>
</div>

